


<div style="text-align:center">
  <h2 >This spot is</h1>
  <h1 >{{location.city}}, {{location.country}}</h2>
  <img ng-src="{{location.image}}" style="width:90px">
  <h4>#{{location.attraction}}</h4>
  <hr>
</center>
<div ng-repeat="data in flight">
  <p>Departure Date: {{data.departureDate}}: {{data.origin}} to {{data.destination}}</p>
  <p>price: {{data.fair}}</p>
</div>
<div style='background-color:transparent;height:60px'>
</div>
 <input type="button" value="Book Now" style="font-family:Futura;font-size:20px;border-radius:10px;color:white;background-color:#d81921;position:fixed;bottom:3%;right:5%" ng-click="bookNow()"/>
<div style="position:fixed;bottom:3%;left:5%">
  <input type="button" value="Add To Wish List" style="font-family:Futura;font-size:20px;border-radius:10px;color:white;background-color:#d81921" ng-click="save()"/>
</div>
<style>
  h2{
    margin-top: 70px;
    color:white;
    padding:0px;
  }
  h4{
    color:#d81921;
  }
  h1{
    padding:0px;
    margin-top:0px;
    color:white;
  }
  hr{
    padding:0px;
    margin:0px;
  }
</style>