<div id='landing' ng-init='init()'>
  

    <div id="wishlist_container" ng-show="wishlist" style='text-align:center;'>
      <h1> Dream Destinations </h1>
      <!-- <ol> -->
        <li ng-repeat="destination in destinations" ng-click="book(destination)"> {{ destination.city }}, {{ destination.country }}</li>
      <!-- </ol> -->
    </div>

  <div id="button_container">
    <input type="button" value="{{ buttonVal }}" style="font-family:Futura;font-size:20px;border-radius:10px;background-color:#3b4b54;color:white;" ng-click="start()"/>
  </div>
</div>

<style>
  #wishlist_container {
    margin-top: 75px;
    height: 200px;
    color: white;
    font-family: Futura;
    font-size: 25px;
  }
  h1 {
    font-size: 30px;
    text-decoration: underline;
  }
</style>
