<center>
  <img ng-src="../images/pointerRed.png" class="plane img-responsive" ></img>
</center>
<div class="container-fluid" ng-repeat="tour in tourSpot">
  <img ng-src="{{tour.url}}" class="image img-responsive center-block" ng-click="selectPlace(tour)">
</div>

<style>
  .plane{
    width: 50%;
    height: 50%;
    margin-top:350px;
    margin-bottom: 200px;
  }
  .image{
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
  }
  h2{
    font-family: Futura;
    color: white;
  }
</style>